# Multiple Linear Regression ToyotaCorolla Problem Statement
Problem Statements : 
An online car sales platform would like to improve its customer base and their experience by providing them an easy way to buy and sell cars. For this, they would like an automated model which can predict the price of the car once the user inputs the required factors. Help the business achieve their objective by applying multilinear regression on the given dataset. Please use the below columns for the analysis purpose: price, age_08_04, KM, HP, cc, Doors, Gears, Quarterly_Tax, and Weight.

Business Objectives : To predict the price of a car based on there  price, age_08_04, KM, HP, cc, Doors, Gears, Quarterly_Tax, and Weight. these parameter.

In [22]:
#lets import the libraries
import numpy as np # for mathematical and logical operations and consisting of multidimensional array objects 
import matplotlib.pyplot as plt
import pandas as pd  # for Data Manipulation
import seaborn as sns   #for Advanced visualizations
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
from collections import Counter
from IPython.core.display import display, HTML
sns.set_style('darkgrid')

In [23]:
#lets load the data set
online = pd.read_csv("ToyotaCorolla.csv", sep=",")
#as the datais not loading properly from the pd function
#we have imported the data from variable explorer

# Columns Description 

Age:         Age in years
KM:          Accumulated Kilometers on odometer
FuelType:    Fuel Type (Petrol, Diesel, CNG)
HP:          Horse Power
MetColor:    Metallic Color? (Yes=1, No=0)
Automatic:   Automatic ( (Yes=1, No=0)
CC:          Cylinder Volume in cubic centimeters
Doors:       Number of doors
Weight:      Weight in Kilograms
Price:       Offer Price in EUROs

# Data Preprocessing

In [24]:
# Checking the null values, count, columns name and  data describetion  
online.describe()
online.columns
online.count()
online.isna().sum()
online.info

<bound method DataFrame.info of         Id                                              Model  Price  \
0        1      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13500
1        2      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13750
2        3     ï¿½TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13950
3        4      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  14950
4        5        TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors  13750
...    ...                                                ...    ...
1431  1438         TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors   7500
1432  1439  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...  10845
1433  1440  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...   8500
1434  1441  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...   7250
1435  1442        TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors   6950

      Age_08_04  Mfg_Month  Mfg_Year     KM Fuel_Type   HP  Met_Color  ...  \
0            23         10      2002  46986    Diesel   90          1  ...
1            23         10      2002  72937    Diesel   90          1  ...
2            24          9      2002  41711    Diesel   90          1  ...
3            26          7      2002  48000    Diesel   90          0  ...
4            30          3      2002  38500    Diesel   90          0  ...
...         ...        ...       ...    ...       ...  ...        ...  ...
1431         69         12      1998  20544    Petrol   86          1  ...
1432         72          9      1998  19000    Petrol   86          0  ...
1433         71         10      1998  17016    Petrol   86          0  ...
1434         70         11      1998  16916    Petrol   86          1  ...
1435         76          5      1998      1    Petrol  110          0  ...

     Central_Lock  Powered_Windows  Power_Steering  Radio  Mistlamps  \
0               1                1               1      0          0
1               1                0               1      0          0
2               0                0               1      0          0
3               0                0               1      0          0
4               1                1               1      0          1
...           ...              ...             ...    ...        ...
1431            1                1               1      0          1
1432            0                0               1      0          0
1433            0                0               1      0          0
1434            0                0               0      0          0
1435            0                0               1      0          0

      Sport_Model  Backseat_Divider  Metallic_Rim  Radio_cassette  Tow_Bar
0               0                 1             0               0        0
1               0                 1             0               0        0
2               0                 1             0               0        0
3               0                 1             0               0        0
4               0                 1             0               0        0
...           ...               ...           ...             ...      ...
1431            1                 1             0               0        0
1432            1                 1             0               0        0
1433            0                 1             0               0        0
1434            0                 1             0               0        0
1435            0                 0             0               0        0

[1436 rows x 38 columns]>

In [26]:
#as the first column is given serial number, so this is not required
online = online.drop('Id', axis=1)
online = online.drop('Model',axis=1)
online

,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,Color,Automatic,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
0,13500,23,10,2002,46986,Diesel,90,1,Blue,0,...,1,1,1,0,0,0,1,0,0,0
1,13750,23,10,2002,72937,Diesel,90,1,Silver,0,...,1,0,1,0,0,0,1,0,0,0
2,13950,24,9,2002,41711,Diesel,90,1,Blue,0,...,0,0,1,0,0,0,1,0,0,0
3,14950,26,7,2002,48000,Diesel,90,0,Black,0,...,0,0,1,0,0,0,1,0,0,0
4,13750,30,3,2002,38500,Diesel,90,0,Black,0,...,1,1,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,7500,69,12,1998,20544,Petrol,86,1,Blue,0,...,1,1,1,0,1,1,1,0,0,0
1432,10845,72,9,1998,19000,Petrol,86,0,Grey,0,...,0,0,1,0,0,1,1,0,0,0
1433,8500,71,10,1998,17016,Petrol,86,0,Blue,0,...,0,0,1,0,0,0,1,0,0,0
1434,7250,70,11,1998,16916,Petrol,86,1,Grey,0,...,0,0,0,0,0,0,1,0,0,0
1435,6950,76,5,1998,1,Petrol,110,0,Green,0,...,0,0,1,0,0,0,0,0,0,0

In [27]:
#lets make the dependant and independant variables
#as from the data set profit is depends on the remaining all
X = online.iloc[:,1:36] #independ variables excluding price 
= online.iloc[:,0]  #depended variable price

In [28]:
#as the State column is catergorical we will convert this using onehot encoding using get_dummies()
#the impact of first NewYork is removed
Fuel_Type= pd.get_dummies(X['Fuel_Type'])
Color = pd.get_dummies(X['Color'])

In [29]:
#lets remove the categorical column
X = X.drop(['Color','Fuel_Type'], axis=1)
X

,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,cc,Doors,Cylinders,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
0,23,10,2002,46986,90,1,0,2000,3,4,...,1,1,1,0,0,0,1,0,0,0
1,23,10,2002,72937,90,1,0,2000,3,4,...,1,0,1,0,0,0,1,0,0,0
2,24,9,2002,41711,90,1,0,2000,3,4,...,0,0,1,0,0,0,1,0,0,0
3,26,7,2002,48000,90,0,0,2000,3,4,...,0,0,1,0,0,0,1,0,0,0
4,30,3,2002,38500,90,0,0,2000,3,4,...,1,1,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,69,12,1998,20544,86,1,0,1300,3,4,...,1,1,1,0,1,1,1,0,0,0
1432,72,9,1998,19000,86,0,0,1300,3,4,...,0,0,1,0,0,1,1,0,0,0
1433,71,10,1998,17016,86,0,0,1300,3,4,...,0,0,1,0,0,0,1,0,0,0
1434,70,11,1998,16916,86,1,0,1300,3,4,...,0,0,0,0,0,0,1,0,0,0
1435,76,5,1998,1,110,0,0,1600,5,4,...,0,0,1,0,0,0,0,0,0,0

In [30]:
#lets use concatination
X = pd.concat([X,Color,Fuel_Type], axis=1)
X

,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,cc,Doors,Cylinders,...,Green,Grey,Red,Silver,Violet,White,Yellow,CNG,Diesel,Petrol
0,23,10,2002,46986,90,1,0,2000,3,4,...,0,0,0,0,0,0,0,0,1,0
1,23,10,2002,72937,90,1,0,2000,3,4,...,0,0,0,1,0,0,0,0,1,0
2,24,9,2002,41711,90,1,0,2000,3,4,...,0,0,0,0,0,0,0,0,1,0
3,26,7,2002,48000,90,0,0,2000,3,4,...,0,0,0,0,0,0,0,0,1,0
4,30,3,2002,38500,90,0,0,2000,3,4,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,69,12,1998,20544,86,1,0,1300,3,4,...,0,0,0,0,0,0,0,0,0,1
1432,72,9,1998,19000,86,0,0,1300,3,4,...,0,1,0,0,0,0,0,0,0,1
1433,71,10,1998,17016,86,0,0,1300,3,4,...,0,0,0,0,0,0,0,0,0,1
1434,70,11,1998,16916,86,1,0,1300,3,4,...,0,1,0,0,0,0,0,0,0,1
1435,76,5,1998,1,110,0,0,1600,5,4,...,1,0,0,0,0,0,0,0,0,1

In [31]:
#let's split the data into train and test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [32]:
#now lets build a model using fitting Multilinear Regression to the training set
from sklearn.linear_model import LinearRegression
start_f = LinearRegression() 
start_f.fit(X_train, y_train)

LinearRegression()

In [33]:
#prediction for the test results
y_pred = start_f.predict(X_test)
y_pred

array([  8902.89094415,  10930.17351334,  13378.01869454,   7677.83247574,
        10432.66576372,   9915.24818761,   6462.49542937,  15332.47255526,
        11479.46751546,  10619.19257447,   6377.88558016,  10074.68400938,
        11118.36064289,   9713.68177557,   7302.89934513,  14768.94772503,
        11436.06948335,   8115.18617751,  11504.16805212,  10862.43148416,
         6885.94236157,   6653.12150519,  11508.87802906,  11798.71454718,
        21631.77943184,   9198.01428745,  13466.87408117,   6033.73766786,
         9283.95849611,   7675.30542709,  10994.43115259,   8381.84334864,
        16348.52189393,   7465.00611289,   9671.861632  ,  11876.21165276,
         9763.45479031,  12415.93153024,  10009.73675029,   8887.69810875,
         8356.28868037,   9952.18199699,  10277.85282611,  15242.64858869,
         9943.24673131,   7259.90101591,  10095.56221832,   6849.91378228,
         8253.41964331,   8672.59746076,  20915.69026066,   9161.48285269,
         7445.49539548,   6472.69524735,  11259.9323382 ,  20204.80468022,
        12879.4560539 ,   9968.58318849,  19517.32824065,  10359.55734751,
         6632.0267594 ,   7511.11255111,  10786.69370979,  12507.32606067,
        10478.509713  ,  13791.27231948,   7357.15587794,   8722.46660799,
        19849.72929589,  10792.97709141,  10044.81274684,   7962.06126367,
        12698.19346472,   5580.49272792,  14655.67997742,  13544.51191396,
        10386.76304804,   6435.61089094,   8456.77357681,   8107.15439808,
         7028.64242069,   8399.9990711 ,   7220.09513064,  12418.07457098,
        11192.32210215,  11092.15946623,  11096.58876663,  13562.80339558,
         8182.24543683,   9070.11210745,   6325.58842403,  10093.1773802 ,
        18438.73899229,  11184.16871515,   8576.21690118,  11785.16648172,
        14874.65512309,  10228.79004917,  12876.30158932,   7501.24173687,
         8728.68963436,  11321.31496213,  11270.74451319,   8831.68347813,
         9310.07894058,  19277.13503294,  17694.82084201,   8173.97367115,
        14572.54942126,   9085.82410442,  13618.06158013,   7849.61309503,
         9987.59309412,   9223.0090328 ,  12801.75560623,   9208.14990132,
         8664.33916366,  11880.27838036,   9799.24848894,   8024.95255306,
        19040.95771107,   8453.03765571,  13637.93801501,   9522.09042796,
         7793.79975456,  20496.54058433,   7114.66279459,  10709.41264002,
         9416.45930691,  10329.23607249,  16941.60153286,   9247.00682015,
        10612.89446508,  10152.88075178,  19019.83787473,  10654.11250924,
        12010.71739878,  13038.53360343,   9954.17188747,  13274.18091524,
        18119.41640654,   9973.37042594,   8558.60652961,   7886.78559615,
         9496.78087681,  17493.43859033,  10871.06564519,  12351.78306411,
        11124.48650946,  12265.07406304,   8088.51452064,  12775.47655609,
         9952.13414199,   7733.61986806,  10775.07319621,  14843.69783031,
         9849.49405305,   9603.4651996 ,   7176.86200003,   8994.39887371,
         8316.6237953 ,   8990.61770573,   9411.78986359,  16244.75991956,
        10364.72350073,   7984.89174622,  19634.13181787,   9010.98011053,
         8593.21941022,  14522.21997796,   9461.54397408,  10473.54721728,
         9494.93639479,   7473.1612883 ,   8781.2794362 ,  10605.93325227,
         8359.82707408,  12340.92531166,  17074.87482512,  10454.71255786,
        11503.92429955,  10144.48342027,   8209.20384837,  14569.51176907,
        12762.59602767,   9432.70282065,   9124.00671788,  15502.02654648,
        15247.84105918,   6594.38987845,  10279.01043775,   8307.31242041,
        10746.58240279,  12278.04243295,  10864.85763142,   7310.69933405,
        19231.00578989,   7529.13010066,   8313.09508415,   5734.52747505,
         9869.127435  ,  12158.98372125,  13883.75218845,  15181.18916702,
        11466.87222029,   9232.8561969 ,  11145.69203634,  12675.66144339,
         8584.48668715,   7001.01863449,  12725.51360402,   7947.62777253,
         8733.87103272,   7476.26351308,   6791.33566965,  18235.37540931,
        21835.08875005,  10727.7489798 ,   8782.98793877,  11824.69364837,
         7616.31734434,   7855.8083971 ,  10672.65147782,   8718.77372033,
        13228.68386601,  10683.60182412,   9287.05181075,  19308.36849417,
        10516.13854737,   9767.05181606,   8133.41405153,  10823.62238119,
        10251.27389443,  13631.34310183,   7274.24853095,   9575.37478995,
         7928.63194303,   7457.02957167,  11385.22007091,  13293.42043372,
        11387.45519347,   9581.44522063,   7002.93930618,   9412.022806  ,
       -23609.32723717,   7749.2064008 ,  11087.55921281,   8941.0817864 ,
        11232.7108745 ,   8531.77401467,   8504.28273539,   8551.08490238,
        12115.21406375,  10511.77718229,  12963.84776529,   8679.32999889,
        10264.29116004,  17801.11173675,   8846.31237005,   9823.61961774,
        21722.63392036,  10385.44454081,  14824.32572119,   8099.04741218,
        14077.99307994,  10326.41395696,  15893.98643354,   8991.93120881,
         7266.92072503,   9355.41819958,  12345.57886144,   9769.37076381,
        10077.44103871,  11766.35657825,   9288.82799775,  19759.12121769,
        19304.27519489,   6258.84521042,   9052.99910635,  12718.1875418 ,
         7976.90510165,   7139.85442988,   5719.34992847,  11231.69405122,
         9826.05014471,  10904.66977587,  12258.81408533,   6707.9306651 ])

In [34]:
#for comarision to check whether the y_test is good or y_pred is good
#we will use r^2 score from the sklearn package
from sklearn.metrics import r2_score
score = r2_score(y_test, y_pred) 
score

0.37407949610941227

In [17]:
# Predicting Cross Validation Score the Test set results
cv_linear = cross_val_score(estimator = start_f, X = X_train, y = y_train, cv = 10)
cv_linear

array([0.85295169, 0.90241947, 0.90174145, 0.91481452, 0.92485328,
       0.9108801 , 0.91970749, 0.82267693, 0.92849608, 0.94058836])

In [18]:
# Predicting R2 Score the Train set results
y_pred_linear_train = start_f.predict(X_train)
r2_score_linear_train = r2_score(y_train, y_pred_linear_train)
r2_score_linear_train

0.9207693782607749

In [19]:
# Predicting R2 Score the Test set results
y_pred_linear_test = start_f.predict(X_test)
r2_score_linear_test = r2_score(y_test, y_pred_linear_test)
r2_score_linear_test

0.37407949610941227

In [20]:
# Predicting RMSE the Test set results
rmse_linear = (np.sqrt(mean_squared_error(y_test, y_pred_linear_test)))
print("CV: ", cv_linear.mean())
print('R2_score (train): ', r2_score_linear_train)
print('R2_score (test): ', r2_score_linear_test)
print("RMSE: ", rmse_linear)

CV:  0.9019129374534772
R2_score (train):  0.9207693782607749
R2_score (test):  0.37407949610941227
RMSE:  2790.6780509855835

Result : By checking the result of model the train score is 92% while train socre is 37% mean our model is under fitting condition is occured